<div id="<%= dom_id affaire %>">
  <p>
    <strong>Number:</strong>
    <%= affaire.number %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= affaire.client %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= affaire.address %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= affaire.title %>
  </p>

    <p>
    <strong>heur saisie: </strong>
     <%=!affaire.worktime_ids.empty? %> 
  </p>

</div>
