<h1 class="text-center">Affaires</h1>
<hr>


<div class="container">
       <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-center"><strong>Numero</strong></th>
            <th class="text-center"><strong>client</strong></th>
            <th class="text-center"><strong>address</strong></th>
            <th class="text-center"><strong>Title</strong></th>
            <th class="text-center"><strong>Saisie/H</strong></th>
            <th class="text-center"><strong> total/ heure</strong></th>
          </tr>
        </thead>
    <%if @affaires.nil? %> 
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
    <% else %>   
      <tbody>   
      <% @affaires.each do |affaire| %>
         
            <tr>
                <td class="text-center"> <%= affaire.number %></td>
                <td class="text-center"> <%= affaire.client %></td>
                <td class="text-center"> <%= affaire.address %></td>
                <td class="text-center"> <%= affaire.title %></td>
                <td class="text-center"> <%= !affaire.worktime_ids.empty? %></td>
                <td class="text-center"> <%= Time.at(affaire.workaffaire).utc.strftime("%HH %Mmin")%></td>
                <td class="text-center"> <%= link_to "Show", affaire , class:"btn btn-outline-info btn-sm" %></td>
              
            
              
            </tr>
    <% end %>
      </tbody>
    <%end%>  
        <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th></th>
          </tr>
        </thead>
      </table>

    <div class="container text-center">
    <%= paginate @affaires %>
  </div>

  </div>


<div class="form-actions text-center">
  <%= link_to "New affaire", new_affaire_path , class:"btn btn-outline-secondary btn-sm"%>
</div>