
<%= render @affaire %>
<hr>

<div class="container">
       <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-center"><strong>jour</strong></th>
            <th class="text-center"><strong>heure Total</strong></th>
            <th class="text-center"><strong>Accord</strong></th>
            <th class="text-center"><strong>feuille.id</strong></th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>  
    <%if @affaire.worktime_ids.empty? %> 
            <tr>
              <td colspan="4", class="text-center "><strong>Aucune Heure ajouté</strong></td>
            </tr>
    <% else %>  
       
      <% @affaire.worktimes.each do |work| %>
         
            <tr>
            
                <td class="text-center"><%= work.daytime %> </td>
                <td class="text-center"> <%= Time.at(work.workday).utc.strftime("%HH %Mmin") %></td>
                <td class="text-center"> <%= work.accord %></td>
                <td class="text-center"> <%= work.weektime_id %></td>
                <td class="text-center"> <%= link_to "Show", weektime_path(work.weektime_id) , class:"btn btn-outline-info btn-sm" %></td>
              
            </tr>
    <% end %>
      </tbody>
    <%end%>  
        <thead class="thead-light">
          <tr>
            <th> </th>
            <th class="text-center"><%= Time.at(@affaire.workaffaire).utc.strftime("%HH %Mmin")  %> H </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
      </table>
  </div>

    <div class="container text-center">
    <%= paginate @afpg %>
  </div>





<hr>
<div>
  <%= link_to "Edit this affaire", edit_affaire_path(@affaire) , class:"btn btn-outline-info btn-sm"%> 
  <%= button_to "Destroy this affaire", @affaire, method: :delete , class:"btn btn-outline-danger btn-sm"%>
  </br>
  <%= link_to "Back to affaires", affaires_path, class:"btn btn-outline-secondary btn-sm" %>
</div>
