<div class="container">
<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="row text-center " >
  
    <div class=" border col-sm-4 p-4">
        <H3> IDENTITE </h3>
            <%= f.input :firstname, placeholder: "prénom", label: false, class:"p-1" %>
            <%= f.input :lastname, placeholder: "nom", label: false,class:"p-1" %>
            <%= f.input :phone, placeholder: "telephone", label: false,class:"p-1" %>
            <%= f.input :phone_supl, placeholder: "telephone perso", label: false,class:"p-1" %>
            <%= f.input :job, placeholder: "technicien...", label: false,class:"p-1" %>
    </div>


    <div class="col-sm-3">
         
         <div class="field">
           <%# if @profil.avatar.attached? %>  
             <%#= image_tag(@profil.avatar_thumbnail) if @profil.avatar.attached? %>
           <%#else %>
             <%#= image_tag("/default_avatar.jpg") %>
           <%# end %>
         
           <%#= f.file_field :avatar %>
         
         </div>
    </div >

<%= render partial: "profiles/adresse" %>

</br></br>
  <div class="p-4 justify-content-center">
    <%= f.button :submit ,class:"btn btn-outline-secondary" %>
  </div>
<% end %>
<div>