
<%= simple_form_for(@weektime) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :dateweek %>
    <%= f.input :workweek %>
    <%= f.input :accord %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , class:"btn btn-outline-secondary" %>
  </div>
<% end %>
