<div id="<%= dom_id weektime %>">
  <td class="text-center"><%= weektime.numsemaine %> | <%= weektime.dateweek.strftime("%Y-%m") %> </td>
  <td class="text-center"><%= weektime.workweek %> Hrs </td>
  <td class="text-center"><%= weektime.accord %></td>
  <td class="text-center"> </td> 
  <td class="text-center">  <%= link_to "Modifier", weektime, class:"btn btn-outline-info btn-sm"%></td>
</div>
