 <%if @weektimes.empty? %> 
  <tr>
    <td colspan="4", class="text-center"><strong>Aucune de feuille d'heure ajouté</strong></td>
  </tr>
 <% else %>   
   <% @weektimes.order(:numsemaine).each do |weektime| %>
     <%= content_tag :tr, id: dom_id(weektime), class: "dom_class(weektime)", scope: "row" do %>
      <td class="text-center"><%= weektime.numsemaine %> | <%= weektime.dateweek.strftime("%Y-%m") %> </td>
      <td class="text-center"><%= weektime.workweek %> Hrs </td>
      <td class="text-center">
       <%= check_box_tag "accord", weektime.accord,weektime.accord, { data: { 
                                                  checkerbox_weektimes_target: "child",
                                                  id: weektime.id,                                                  
                                                  action: "checkerbox-weektimes#toggle change->checkerbox-weektimes#toggleChildren" 
                                                  }} %>     
       </td> 
      <td class="text-center">  <%= link_to "Voir", weektime, class:"btn btn-outline-info btn-sm"%>  
     <%= link_to "X", weektime_path(weektime.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } , class: "btn btn-outline-danger btn-sm" %> </td>
     <% end %> 

   <% end %>    
 <%end%>  
