<div id="<%= dom_id weektime %>">
  <td><%= weektime.dateweek %> </td>
  <td><%= weektime.workweek %> Hrs </td>
  <td><%= weektime.accord %></td>
  <td> </td> 
  <td>  <%= link_to "Modifier", weektime, class:"btn btn-outline-info btn-sm"%></td>
</div>
