 <%if @worktimes.empty? %> 
    <tr scope="row"> <td colspan="7"></td> </tr>
    <tr scope="row">
      <td colspan="7", class="text-center"><strong>Aucune Heure ajouté</strong></td>
    </tr>
    <tr scope="row"> <td colspan="7"></td> </tr>
 <% else %>   
   <% @worktimes.each do |worktime| %>

     <tr scope="row">
        <td class="text-center"><%= worktime.daytime %></td>
        <td class="text-center"><%= worktime.affaire.title unless worktime.affaire.nil? %> </td>
        <td class="text-center"><%= worktime.gotime.to_fs(:time) %></td>
        <td class="text-center"><%= worktime.endtime.to_fs(:time) %></td> 
        <td class="text-center"><%= Time.at(worktime.workday).utc.strftime("%HH %Mmin") %></td>
        <td class="text-center"><%= worktime.accord %></td>
        <td class="text-center"><%= link_to "Edit", edit_weektime_worktime_path(@weektime.id,worktime), class: "btn btn-outline-success btn-block", "data-controller": "turbo" %>   
                                <%= link_to "X", weektime_worktime_path(@weektime.id,worktime), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } , class: "btn btn-outline-danger btn-sm" %> </td>   
                                           
   <% end %>    
 <%end%>  
