</br>

<h3 class="text-center" > <strong> Semaine: </strong><%= @weektime.dateweek.cweek %> 
                        | <strong> Date: </strong><%= @weektime.dateweek.strftime("%Y-%m") %></h2>
<h5 class="text-center" > <strong>feuille d'heure </strong></h5>
<hr>

    <div class="d-flex justify-content-end container text-center">
      <%= link_to "+ Ajoute une heure", new_weektime_worktime_url(@weektime),"data-controller": "turbo", class:"btn btn-outline-secondary btn-sm" %>
    </div>
<hr>
  <div class="table-responsive" data-controller="checkerbox-worktimes">
   <table class="table table-light table-striped mt-3">
    <thead class="thead-light">
       <%= content_tag :tr , scope: "row" do %>
        <th colspan="1" class="text-center"><strong>JOUR</strong></th>
        <th colspan="1" class="text-center"><strong>AFFAIRES</strong></th>
        <th colspan="1" class="text-center"><strong>DEBUT</strong></th>
        <th colspan="1" class="text-center"><strong>FIN</strong></th>
        <th colspan="1" class="text-center"><strong>H/TOTAL </strong></th>
        <th colspan="1" class="text-center"><strong>vALIDATION </strong> <%#= check_box_tag "select all", nil, nil, { data: { checkerbox_worktimes_target: "parent", 
                                                                                                        action: "checkerbox-worktimes#upper change->checkerbox-worktimes#toggleChildren",
                                                                                                        id:@weektime.id } } %></th>
        <th colspan="1" class="text-center "> <strong> </strong> </th>  
      <% end %>
    </thead>
    <tbody>   
      <%= render partial: "weektimes/worktime" %>
    </tbody>
    <thead class="thead-light">
      <%= content_tag :tr , scope: "row" do %>
       <th colspan="4"></th> 
       <%if @weektime.workweek.nil? %> 
        <th colspan="1"></th>
       <% else %>
        <th class="text-center" colspan="1"><%= @weektime.workweek %> H </th>
       <% end %>
        <th colspan="2"></th>  
     <% end %>
    </thead>
   </table>
  </div>

  <div class="d-flex justify-content-center ">
    <%= paginate @worktimes, theme: 'bootstrap-5', pagination_class: "pagination pagination-sm flex-wrap justify-content-center ", nav_class: "d-inline-block" %> 
  </div>

<hr>
</br>
  <div class="d-flex justify-content-end  text-center">
      <%= link_to "Modifier la date de la semaine", edit_weektime_path(@weektime),"data-controller": "turbo",class:"btn btn-outline-info btn-sm"%>  
  </div>

</br>
  
      <%= link_to "< Back", weektimes_path , class:"btn btn-outline-secondary btn-sm"%>

