<p style="color: green"><%= notice %></p>

<div class="border p-3 mb-0 container">
  <h2 class="text-center" > <strong> Semaine : </strong><%= @weektime.dateweek.cweek %> | <strong> Date : </strong><%= @weektime.dateweek.strftime("%Y-%m")    %></h2>
  <hr>
  <div class="container">
       <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th><strong>Jour</strong></th>
            <th><strong>debut</strong></th>
            <th><strong>fin</strong></th>
            <th><strong>H/Total </strong></th>
          
          </tr>
        </thead>
    <%if @worktimes.nil? %> 
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
    <% else %>   
      <tbody>   
      
          <% @worktimes.each do |work| %>
            <tr>
            
              <td><%= work.daytime %> </td>
              <td><%= work.gotime.to_fs(:time) %></td>
              <td><%= work.endtime.to_fs(:time) %></td> 
              <td><%= Time.at(work.workday).utc.strftime("%HH %Mmin") %></td>
            </tr>
          <% end %>
      </tbody>
    <%end%>  
        <thead class="thead-light">
          <tr>
            <th>valider: <%= @weektime.accord %></th>
            <th> </th>
            <th> </th>
            <%if @weektime.workweek.nil? %> 
            <th></th>
            <% else %>
            <th><%= Time.at(@weektime.workweek).utc.strftime("%HH %Mmin") %> </th>
            <% end %>
            
          </tr>
        </thead>
      </table>
  </div>
  <hr>
  <div class="container ">
    <div class="text-center">
      <%= link_to "+ Ajoute une heure", new_weektime_worktime_url(@weektime),data: { turbo_frame: "remote_modal" }  %>
   
    </div>

    <div class="">
      <%= button_to "Modifier la date de la semaine", edit_weektime_path(@weektime), method: :get,data: { turbo_frame: "remote_modal" } %> </br>
      <%= button_to "Supprimer la feuilles d'heure", @weektime, method: :delete, form: { data: { 'turbo-confirm': 'Vous etes sur ?' } }  %>
    </div>
  </div>
</div>

</br>
<div class="container">
<%= button_to "Dashbord", root_path, method: :get %>
</div>

