

<div class="border p-3 mb-0 container">
  <h2 class="text-center" > <strong> Semaine : </strong><%= @weektime.dateweek.cweek %> | <strong> Date : </strong><%= @weektime.dateweek.strftime("%Y-%m")    %></h2>
  <hr>
  <div class="container">
       <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-center"><strong>Jour</strong></th>
            <th class="text-center"><strong>Affaire</strong></th>
            <th class="text-center"><strong>debut</strong></th>
            <th class="text-center"><strong>fin</strong></th>
            <th class="text-center"><strong>H/Total </strong></th>
            <th class="text-center"><strong>Valider </strong></th>
            <th class="text-center"></th>
            <th class="text-center"></th>
          </tr>
        </thead>
    <%if @worktimes.empty? %> 
            <tr>
              <td colspan="5", class="text-center"><strong>Aucune Heure ajouté</strong></td>
            </tr>
    <% else %>   
      <tbody>   
      
          <% @worktimes.each do |work| %>
            <tr>
            
              <td class="text-center"><%= work.daytime %> </td>
              <td class="text-center"><%= work.affaire.title unless work.affaire.nil? %> </td>
              <td class="text-center"><%= work.gotime.to_fs(:time) %></td>
              <td class="text-center"><%= work.endtime.to_fs(:time) %></td> 
              <td class="text-center"><%= Time.at(work.workday).utc.strftime("%HH %Mmin") %></td>
              <td class="text-center"><%= work.accord %></td>
              <td class="text-center"><%= button_to "Supprimer", weektime_worktime_path(work), method: :delete, form: { data: { 'turbo-confirm': 'Vous etes sur ?' } } ,class:"btn btn-outline-danger btn-sm" %> </td>
              <td class="text-center"><%= button_to "modif.", edit_weektime_worktime_path(work), method: :delete ,class:"btn btn-outline-info btn-sm" %>              
              </td>
            </tr>
          <% end %>
      </tbody>
    <%end%>  
        <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <%if @weektime.workweek.nil? %> 
            <th></th>
            <% else %>
            <th class="text-center"><%= @weektime.workweek %> H </th>
            <% end %>
            <th class="text-center"><%= @weektime.accord %></th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
      </table>
  </div>
  <hr>
  <div class="row ">
    <div class="text-center">
      <%= link_to "+ Ajoute une heure", new_weektime_worktime_url(@weektime),"data-controller": "turbo", class:"btn btn-outline-secondary btn-sm" %>
   </br>
    </div>

    <div class="row">
      <%= button_to "Modifier la date de la semaine", edit_weektime_path(@weektime), method: :get,data: { turbo_frame: "remote_modal" } ,class:"btn btn-outline-info btn-sm"%> </br>
      <%= button_to "Supprimer la feuilles d'heure", @weektime, method: :delete, form: { data: { 'turbo-confirm': 'Vous etes sur ?' } } ,class:"btn btn-outline-danger btn-sm" %>
    </div>
  </div>
</div>

</br>
<div class="container">
<%= button_to "Dashbord", root_path, method: :get, class:"btn btn-outline-secondary btn-sm" %>
</div>

