</br>
<h2 class="text-center" > <strong> Semaine: </strong><%= @weektime.dateweek.cweek %> 
                        | <strong> Date: </strong><%= @weektime.dateweek.strftime("%Y-%m") %></h2>

<hr>

    <div class="d-flex justify-content-end container text-center">
      <%= link_to "+ Ajoute une heure", new_weektime_worktime_url(@weektime),"data-controller": "turbo", class:"btn btn-outline-secondary btn-sm" %>
    </div>
<hr>
  <div class="table-responsive" data-controller="checkerbox-worktimes">
   <table class="table table-lightdark table-striped mt-3">
    <thead class="thead-lightdark">
      <tr>
        <th scope="col" class="text-center"><strong>Jour</strong></th>
        <td scope="col" class="text-center"><strong>Affaire</strong></th>
        <td scope="col" class="text-center"><strong>debut</strong></th>
        <td scope="col" class="text-center"><strong>fin</strong></th>
        <td scope="col" class="text-center"><strong>H/Total </strong></th>
        <td scope="col" class="text-center"><strong><%= check_box_tag "select all", nil, nil, { data: { checkerbox_worktimes_target: "parent", 
                                                                                                        action: "checkerbox-worktimes#upper change->checkerbox-worktimes#toggleChildren",
                                                                                                        id:@weektime.id } } %></th>
        <td scope="col" class="text-center"></th>  
      </tr>
    </thead>
    <tbody>   
      <%= render partial: "weektimes/worktime" %>
    </tbody>
    <thead class="thead-light">
      <tr>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
       <%if @weektime.workweek.nil? %> 
        <th></th>
       <% else %>
        <th class="text-center"><%= @weektime.workweek %> H </th>
       <% end %>
        <th class="text-center">  </th>
       
      </tr>
    </thead>
   </table>
  </div>
  
<hr>
</br>
  <div class="d-flex justify-content-end container text-center">
      <%= link_to "Modifier la date de la semaine", edit_weektime_path(@weektime),"data-controller": "turbo",class:"btn btn-outline-info btn-sm"%>  
  </div>

</br>
  
      <%= link_to "< Back", weektimes_path , class:"btn btn-outline-secondary btn-sm"%>

