<div class="container">
    <h1 class="text-center">Administrator Dashbord</h1>
    <%= render 'admin/nav_links'%>
</div>

<table class="table table-dark table-striped mt-3"> 
        <thead>
            <th scope="col">Numéro</th>
            <th scope="col">Client</th>
            <th scope="col">title</th>
            <th scope="col">Heure Saisie</th>
        </thead>
    
    <tbody>
        <% @affaires.each do |affaire| %>
          <tr>  
            <th scope="row"><%= affaire.number.truncate(8)%></th>
            <td><%= affaire.client%></td>
            <td><%= affaire.title%></td>
            <td><%= link_to affaire.worktimes.present?, admin_affaire_path(affaire)%></td>
          </tr>
        <%end%>  
    </tbody>
    </table>
</div>
