  <% if current_user%>
  <section class="border container" >
  <div class="row">
    <div class= " border col-sm-7 p-3 mb-4">
    <h2 class= "text-center font-weight-bold" >Profil</h2>
      <div class= "Wrapper text-center" >
        <p> Hello <%= current_user.email %> ! </p>
         <p> tu es <%= current_user.role %> ! </p>

         <%if current_user.profil.nil? %>
    <div class="container alert alert-danger text-center"> <%=link_to "crée ton profil", new_profil_path(current_user), class:"btn btn-outline-danger"%> </div> 
  <%end%>
      </div>
    </div>
  

    <div class= "border col-sm-5 p-3 mb-4">
    
        <h2 class= "text-center font-weight-bold" >Gestion des heures</h2>
        </br>
        <div class= "text-center  " >
          <%#= button_to "feuille d'heures", new_weektime_path, method: :get , class:"btn btn-outline-secondary" %>
           <%= link_to "feuille d'heures", new_weektime_path,"data-controller": "turbo" , class:"btn btn-outline-secondary"  %>
          </br></br>
          <%= button_to "Toutes mes heures", weektimes_path, method: :get , class:"btn btn-outline-secondary" %>
        </div>
        </br>
    </div>
</div >
</section>
      <section class= "container border p-3 mb-4 " >
  
      <h2 class= "text-center font-weight-bold" >Gestion des affaires</h2>
      </br>
      <div class= "text-center  " >
        <%#= link_to "add affaire", new_affaire_path,"data-controller": "turbo" , class:"btn btn-outline-secondary"  %>
         <%= link_to "add affaire", new_affaire_path, class:"btn btn-outline-secondary"  %>
        </br></br>
        <%= button_to "Toutes les AFFAIRES", affaires_path, method: :get ,class:"btn btn-outline-secondary" %>
      </div>
      </br>
    </section>
    <% else %>
     <section class= "container border p-3 mb-4 " >
   
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
       <div class="carousel-inner">
         <div class="carousel-item active">
             <%= image_tag ("HEE.png"), class: "d-block w-100",alt:"First slide"%> 
         </div>
         <div class="carousel-item">
          <%= image_tag ("HEE.png"), class: "d-block w-100",alt:"Second slide"%>
          </div>
         <div class="carousel-item">
          <%= image_tag ("HEE.png"), class: "d-block w-100",alt:"Third slide"%>
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
    </div>
    </section>
    <section class= "container border p-3 mb-4 " >



      
    </section>
    <%end%>
   