
<%= simple_form_for [@weektime, @worktime] do |f| %>

  <% worktime.errors.full_messages.each do |message| %>
   <%= content_tag :div, message, class: "alert alert-danger text-center", role: :alert %>
  <% end %>  
 
  
     
    <div class="text-center" >
      <%= f.input :dayrecords, as: :check_boxes, collection:Worktime.daytimes,label: false,wrapper: :horizontal_collection_inline , include_blank: false, class: ""%>      
    </div>
</br>
  <div class="form-inputs text-center">
    <h5> Selection les heures </h5>
    Debut <%= f.input :gotime, as: :time , minute_step: 30, label: false %>
    Fin <%= f.input :endtime, as: :time, minute_step: 30 , label: false  %> 
  </div>
</br>
  <div>
    <h5 class="form-inputs text-center"> Affaire </h5>
 <%= f.association :affaire, collection: Affaire.all, :value_method => :id %> 
  </div>

</br></br>
  <div class="form-actions text-center">
    <%= f.button :submit , class:"btn btn-outline-secondary btn-sm"  %>
  </div>
<% end %>
