<div id="<%= dom_id worktime %>">
  <p>
    <strong>Weektime:</strong>
    <%= worktime.weektime_id %>
  </p>

  <p>
    <strong>Gotime:</strong>
    <%= worktime.gotime %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= worktime.endtime %>
  </p>

  <p>
    <strong>Daytime:</strong>
    <%= worktime.daytime %>
  </p>

  <p>
    <strong>Workday:</strong>
    <%= worktime.workday %>
  </p>

  <p>
    <strong>Accord:</strong>
    <%= worktime.accord %>
  </p>

</div>
